
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Admin Kullanıcı Paneli</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Effect Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="/web2/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="/web2/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <!-- bg effect -->
    <div id="bg">
        <canvas></canvas>
        <canvas></canvas>
        <canvas></canvas>
    </div>
    <!-- //bg effect -->
    <!-- title -->
    <h1>Admin Kullanıcı Paneli</h1>
    <!-- //title -->
    <!-- content -->
    <div class="sub-main-w3">
        @using (Html.BeginForm("AdminLogin", "Login", FormMethod.Post))
        {
            <h2>
                Admin Giriş Paneli
                @*<i class="fas fa-level-down-alt"></i>*@
            </h2>
            <div class="form-style-agile">
                <label>
                    <i class="fas fa-user"></i>
                    Kullanıcı Adı
                </label>
                <input placeholder="Kullanıcı adınız" name="UserName" type="text" required="">
            </div>
            <div class="form-style-agile">
                <label>
                    <i class="fas fa-unlock-alt"></i>
                    Şifreniz
                </label>
                <input placeholder="Şifreniz" name="Password" type="password" required="">
            </div>
            <!-- checkbox -->
            <div class="wthree-text">
                <ul>
                    <li>
                        <label class="anim">
                            <input type="checkbox" class="checkbox" required="">
                            <span>Beni Hatırla</span>
                        </label>
                    </li>
                    <li>
                        <a href="#">Şifremi Unuttum?</a>
                    </li>
                </ul>
            </div>
            <!-- //checkbox -->
            <input type="submit" value="Giriş Yap">
          
        }
    </div>
    <!-- //content -->
    <!-- copyright -->
    <div class="footer">
        <p>
            &copy; 2022 Effect Login Form. Tüm Hakları saklıdır. | Design by
            <a href="http://w3layouts.com">W3layouts</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- Jquery -->
    <script src="/web2/js/jquery-3.3.1.min.js"></script>
    <!-- //Jquery -->
    <!-- effect js -->
    <script src="/web2/js/canva_moving_effect.js"></script>
    <!-- //effect js -->

</body>

</html>
